body {
    color: goldenrod;
    text-align: center;
}
h2 {
    text-indent: 2em;
    text-shadow: 5px 5px 5px gold;
    /*第一个参数，距离左边距离
    第二个参数，上边距离
    第三个，阴影清晰度
    第四个，阴影颜色
    */
}
p {
    padding-left: 2em;
    text-transform: lowercase;
}
#id_p1 {
    font-size: 40px;
    font-family: "Baskerville Old Face";

    text-transform: capitalize;
}
#id_p2 {
    font-size: 35px;
    font-family: "Berlin Sans FB";
    text-transform: uppercase;
}
#id_p3 {
    font-size: 30px;
    font-family: "Arial Narrow";
    text-transform: lowercase;
}
#id_p4 {
    font-size: 25px;
    font-family: Candara;
    text-transform: inherit;
}