body {
    background-image: url("../image/gameBeauty.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-attachment: fixed;

    background-size: 1000px 1000px;
}