body {
    background-color: gold;
}
.day9_container2 {
    width: 250px;
    -webkit-column-width: 250px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    float: left;
}
.day9_container2 div {
    width: 250px;
    margin: 5px 0;
    float: left;
}